<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>


        <element type="button">
            <name>attributeButton</name>
            <label><![CDATA[<b>Attribute</b>]]></label>
        </element>

        <element type="text">
            <name>attributeDispatchType</name>
            <label>Versandart</label>
            <value>attr14</value>
            <description>In welchem Attribut wird die Versandart gepflegt? P: Paket, G: Spedition</description>
        </element>

        <element type="text">
            <name>attributeErpShippingCosts</name>
            <label>IWM Versandkosten</label>
            <value>attr15</value>
            <description>In welchem Attribut werden die Versandkosten des IWM gepflegt? Diese Versandkosten werden nur bei Versandart G betrachtet.</description>
        </element>

        <element type="text">
            <name>attributeCalculatedShippingCosts</name>
            <label>Berechnete Versandkosten</label>
            <value>attr8</value>
            <description>In welchem Attribut werden die berechneten Versandkosten gepflegt? Diese Versandkosten werden nur bei Versandart P betrachtet.</description>
        </element>

        <element type="text">
            <name>attributeTag</name>
            <label>Etikett</label>
            <value>attr10</value>
            <description>In welchem Attribut wird das Etikett gepflegt? 0: Abholpreis, 1: Lieferpreis, 2: Vollservicepreis</description>
        </element>

    </elements>
</config>